# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Hugging Face, PyTorch & Test caches
.cache/
hf_cache/
.pytest_cache/

# Experiment outputs & large prediction dumps
*.log
prediction.jsonl
exp/

# Secrets
.env
Notes
faiss_index_directory/
experiments/